/*#################################  Add Page Css end ################################# */
.form-card {
  width: 30%;
  margin: 2rem auto;
  border: 1px solid rgb(198 218 221);
  background-color: rgb(233, 237, 240);
  padding: 1rem;
  border-radius: 8px;
}
.form-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
input,
input::-webkit-input-placeholder {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
select,
.form-control,
option {
  font-size: 0.9em;
}
.form-submit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.error-text {
  color: red;
  font-weight: lighter;
  font: 0.8em sans-serif;
}

/*#################################  List Page Css start ################################# */
.table-view {
  margin: 2rem auto;
}
.table-responsive {
  padding: 2rem;
}
table {
  border: 1px solid rgb(198 218 221);
  background-color: rgb(233, 237, 240);
  border-radius: 8px;
}
.page-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.add-cta {
  margin: 0 2rem;
}
.no-data {
  width: 100%;
  display: flex;
  justify-content: center;
}
table .remove-list-cta {
  margin: 7%;
  padding: 1%;
  font-size: 0.8em;
  background-color: #dc3545;
  border-color: #dc3545;
}
.filter-view {
  margin: 2rem 2rem 0;
}
.form-switch .form-check-input {
  height: 1.5rem;
  width: 3rem;
}
.form-check-label {
  /* vertical-align: -webkit-baseline-middle; */
  margin: 0 1rem 0 0;
}
.pl-0 {
  padding-left: 0;
}

/*#################################  Common media query start ################################# */
@media only screen and (max-width: 600px) {
  .form-card {
    width: 90%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .form-card {
    width: 50%;
  }
}
